{% extends "rust_base.j2" %}
{% block build %}
ARG DATABASE_URL

ENV SQLX_OFFLINE=true
WORKDIR /app/article
RUN cargo build --bin article-server ${BUILD_FLAG}

{% endblock %}


{% block bin %}
ARG DATABASE_URL
COPY --from=builder /app/target/${BUILD_TARGET}/article-server article-server

ENV DATABASE_URL=${DATABASE_URL}

EXPOSE 5000
CMD ./article-server
{% endblock %}
