{% extends "rust_base.j2" %}
{% block build %}
WORKDIR /app/graphql
RUN cargo build --bin graphql-server ${BUILD_FLAG}
{% endblock %}


{% block bin %}
ARG ARTICLE_SERVICE_ENDPOINT
ARG USER_SERVICE_ENDPOINT
ARG COMMENT_SERVICE_ENDPOINT

COPY --from=builder /app/target/${BUILD_TARGET}/graphql-server graphql-server


ENV ARTICLE_SERVICE_ENDPOINT ${ARTICLE_SERVICE_ENDPOINT}
ENV USER_SERVICE_ENDPOINT    ${USER_SERVICE_ENDPOINT}
ENV COMMENT_SERVICE_ENDPOINT ${COMMENT_SERVICE_ENDPOINT}

EXPOSE 5000
CMD ./graphql-server -e .env
{% endblock %}
